<mat-list-item>
  <span matListItemTitle>
    <span>{{ orderItem.name }}</span>
    <span matListItemLine class="list-right-action-container">
      <button mat-icon-button type="button" (click)="deleteCallback(index)">
        <mat-icon fontIcon="delete">
          delete
        </mat-icon>
      </button>
    </span>
  </span>
  @if (orderItem.subItems !== undefined && orderItem.subItems.length > 0) {
    <ul matListItemLine>
      @for (subItem of orderItem.subItems; track $index) {
        <li>{{ subItem.name }}</li>
      }
    </ul>
  }
</mat-list-item>
