<div class="layout-container-half-root menu-root">

  <div class="col left-col">

    <!-- Drinks -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <h3>Drinks</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (drink of drinkItems; track drink.name) {
            <app-menu-item
              [menuItem]="drink"
              [addCallback]="addMenuItemCallback"
            />
          }
        </mat-list>
      </mat-card-content>
    </mat-card>

    <!-- Food -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <h3>Food</h3>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (food of foodItems; track food.name) {
            <app-menu-item
              [menuItem]="food"
              [addCallback]="addMenuItemCallback"
            />
          }
        </mat-list>
      </mat-card-content>
    </mat-card>

  </div>

  <div class="col right-col">
    <!-- Self Serve -->
    <mat-card appearance="outlined">
      <mat-card-header>
        <h3>Snacks <span class="smaller">(Self-Serve)</span></h3>
      </mat-card-header>
      <mat-card-content>
        <mat-list>
          @for (food of snackItems; track food.name) {
            <app-menu-item
              [menuItem]="food"
              [addCallback]="directAddCallback"
            />
          }
        </mat-list>
      </mat-card-content>
    </mat-card>
  </div>

</div>
