<mat-toolbar style="background: rgb(62, 67, 202)">
  <h2>AlliCafei <span class="smaller">· Menu</span></h2>
  <span class="spacer"></span>
  <button mat-icon-button (click)="cartOpenCallback()">
    <mat-icon fontIcon="shopping_cart"> cart</mat-icon>
  </button>
</mat-toolbar>
<div class="layout-container-half-root">
  <mat-card style="margin-bottom:1em;">
    <mat-card-header>
      <h3>Drinks</h3>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (drink of drinkItems; track drink.name) {
          <app-menu-item
            [menuItem]="drink"
            [addCallback]="addMenuItemCallback"
          />
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
  <mat-card>
    <mat-card-header>
      <h3>Food</h3>
    </mat-card-header>
    <mat-card-content>
      <mat-list>
        @for (food of foodItems; track food.name) {
          <app-menu-item
            [menuItem]="food"
            [addCallback]="addMenuItemCallback"
          />
        }
      </mat-list>
    </mat-card-content>
  </mat-card>
</div>
