.quantity-container {
  float: right;
}

mat-card {
  padding: 1em;
  padding-bottom: 0;
  margin-bottom: 1em;
}

mat-card:last-of-type {
  margin-bottom: 0;
}

.menu-root {
  display: flex;
}

.col {
  flex: 1;
}

.col:first-child {
  margin-right: 1em;
}
