<form class="layout-container-half-root">
  <div class="header-container">
    <h3>Your Order</h3>
  </div>

  <div class="cart-contents-container">
    <mat-form-field>
      <mat-label>Name</mat-label>
      <input matInput [formControl]="customerName" />
    </mat-form-field>
    <mat-list>
      @for (orderItem of orderItems; track $index) {
        <app-order-item
          [orderItem]="orderItem"
          [index]="$index"
          [deleteCallback]="deleteCallback"
        />
        @if (!$last) {
          <mat-divider></mat-divider>
        }
      }
    </mat-list>
  </div>

  <div class="submit-container">
    <button type="button" mat-icon-button (click)="openHistory()">
      <mat-icon fontIcon="history">history</mat-icon>
    </button>
    <button type="button" mat-icon-button (click)="resetCart()">
      <mat-icon fontIcon="delete_sweep">remove all</mat-icon>
    </button>
    <button
      mat-flat-button
      type="button"
      (click)="submitOrder()"
      [disabled]="isSubmitDisabled"
    >
      Submit
      <mat-icon fontIcon="send"></mat-icon>
    </button>
  </div>
</form>
