<mat-list-item>
  <span matListItemTitle>
    <h6 class="menu-item-name">{{ this.name }}</h6>
    <span matListItemLine class="button-container">
      <button mat-icon-button (click)="this.addCallback(this)">
        <mat-icon fontIcon="add">
          add
        </mat-icon>
      </button>
    </span>
  </span>

  @if (this.description.length > 0) {
    <p matListItemLine class="menu-item-description">
      <span class="menu-item-description">{{ this.description }}</span>
    </p>
  }
</mat-list-item>
