.menu-item-name {
  display: inline;
}

.menu-item-description {
  white-space: pre-wrap;
}

mat-list-item {
  /* default is too large */
  height: var(--mdc-list-list-item-two-line-container-height) !important;
}
