mat-list-item {
  height: auto !important;
  min-height: var(--mdc-list-list-item-one-line-container-height);
  padding-top: 2px;
}

.list-right-action-container {
  margin-top: 2px;
}

.mdc-list-item__secondary-text::before {
  height: 0;
}

li {
  white-space: normal;
}
